@inherits MainLayout

<div class="page">
    <div class="sidebar">
        <ModelView Source="ApplicationView.NavigationView" />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <ViewVersion />
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
@code {
    [Parameter]
    public IApplicationView ApplicationView { get; set; }
}
