.hover01 {
    overflow: hidden;
}
.hover01 img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.hover01:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}
