@using ModelToComponentMapper.Models

<div  @attributes="ImageSource.InputAttributes">
    <img height="@ImageSource.DisplayHeight" width="@ImageSource.DisplayWidth" src="@ImageSource.Source"/>
</div>


@code {
    [Parameter]
    public ImageSource ImageSource { get; set; }
}