@using ModelToComponentMapper
@using ModelToComponentMapper.Models
@using ModelToComponentMapper.Views.Components
@inherits ViewComponentBase<Anchor>
<a @attributes="Model.InputAttributes" href="@Model.Href" target="_blank">@Model.Text</a>
